<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/stylesheets/login_register.css" />
</head>
<body>
    <div class="main">
        <h1>SIGN UP</h1>
        <form action="/register" method="POST">
            <input
                type="text"
                name="name"
                placeholder="이름을 입력하세요."
            />
            
            <input
                type="email"
                name="email"
                placeholder="이메일을 입력하세요."
            >

            <input
                type="password"
                name="password"
                placeholder="비밀번호를 입력하세요."
            />

            
            <button>SIGN UP</button>
        </form>
    </div>    
</body>
</html>